{% extends 'base.html.twig' %}

{% block title %}Depense index{% endblock %}

{% block body %}
    <h1>Depense index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>ReferencePiece</th>
                <th>Nature</th>
                <th>MontantHT</th>
                <th>Tva</th>
                <th>MontantTTC</th>
                <th>Moyen</th>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for depense in depenses %}
            <tr>
                <td>{{ depense.date ? depense.date|date('Y-m-d') : '' }}</td>
                <td>{{ depense.referencePiece }}</td>
                <td>{{ depense.nature }}</td>
                <td>{{ depense.montantHT }}</td>
                <td>{{ depense.tva }}</td>
                <td>{{ depense.montantTTC }}</td>
                <td>{{ depense.moyen }}</td>
                <td>{{ depense.id }}</td>
                <td>{{ depense.createdAt ? depense.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ depense.updatedAt ? depense.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('depense_show', {'id': depense.id}) }}">show</a>
                    <a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('depense_new') }}">Create new</a>
{% endblock %}
